img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  display: none;
  margin-bottom: 20px;
}

.space-btn {
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
}

h1 {
  border-radius: 15px;
  margin: 10px 0;
  padding: 20px;
  background-color: rgba(233, 236, 229, 0.6);
}

#board {
  border-radius: 15px;
  padding: 20px;
}

body {
  background-color: transparent;
}

html {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  height: 100%;
}

.container {
  color: white;
  text-align: center;
}

.btn-secondary {
  opacity: .8;
  border-radius: 5px;
}

.btn-submit {
  float: left;
  margin: 5px;
}

#currentPlayer {
  margin: 10px;
}
